{% extends 'base.html' %}
{% load static %}
          {% block content %}
<br/>
<br/>
<hr>
  <div class="container">
    {% if show_orders%}
    <div class="row">
      {% for order in orders %}
      <div class="col-md-4 col-sm-12 col-lg-3 m-1">

              <div class="card" style='width:100%; height:300px;'>
                  <a href="{{ order.item.get_absolute_url }}">
                      <div class="card-body">
                        <h5 class="card-title"> {{ order.item.name }}</h5>
                      </div>
                <div class="card-body">
                        <h5 class="card-title"> Quantity x {{ order.quantity }}</h5>
                </div>
                  <div class='card-body text-center'>
                  <a href="{% url 'wedding_app:remove-from-cart' slug=order.item.slug %}" class="btn btn-danger">Remove from cart</a>
                  </div> </a>
               </div>
        </div>
      {% endfor %}
  </div>
       <br/>
        <br/>
        <hr>
      <div class="row">
      <div class="footer">
          <a href="{% url 'wedding_app:purchase' %}" class="btn btn-success">Purchase these gifts</a></div></div>
    {% else %}
      <h2>No orders have been made yet for this user</h2>
    {% endif %}
      <div class="row">
      <div class="container text-center">
          <a href="{% url 'wedding_app:generate-report' %}" class="btn btn-success">See which gifts have been bought/not bought</a></div></div>

  </div>

{% endblock %}

